
:root {
    --theme-color: #b64f5d;
    /*--theme-color: #a03d4a;*/
    /*--theme-color: #2fb0de;*/
}

body {
    font-family: 'Overpass';
    color: #353535;
}

#my-navbar {
    font-size: 1.3rem;
    font-weight: 800;

    overflow: hidden;
    position: fixed;
    top: 0;
    text-decoration: none;
    z-index: 1000;
    margin-top: 1rem;
    margin-left: 0.5rem;
}

#my-navbar #logo-col a:hover::after {
    opacity: 0; /*This just overwrites the normal underline animation so it isn't shown*/
}



#landing-content {
    margin-top: 12.5rem;
    margin-bottom: 24rem;
}

#landing-content .landing-header {
    font-size: 2.6rem;
    font-weight: 600;
    color: #353535;
}

.profile-pic {
    margin-top: 3rem;
    margin-left: 2rem;
    height: 11rem;
    width: 11rem;
    border-radius: 5%;
    position: relative;
    left: 35px;
    border: 3px solid #73AD21;

}

    animation: profile-content-fadein 1.25s;
}

.onload-fadein {
    animation: left-content-fadein 1.25s;
}

.scrollarrow-fadein {
    -webkit-transform: none;
    transform: none;

    animation: arrow-content-fadein 1.25s;
}

@keyframes left-content-fadein {
    from { opacity: 0; transform: translateX(-1.5%);}
    to   { opacity: 1; transform: translateX(0%);}
}

@keyframes profile-content-fadein {
    from { opacity: 0; transform: translateX(-10%);}
    to   { opacity: 1; transform: translateX(0%);}
}
@keyframes arrow-content-fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.subtext-content {
    font-family: 'Overpass Mono';
    font-size: 1.5rem;
    color: var(--theme-color);
}

.section-header {
    font-family: 'Overpass Mono';
    font-size: 1.25rem;
    font-weight: 400;
    /*color: #a0a0a0;*/
    color: #aaa;

    margin-top: 2.75rem;
    margin-bottom: 1.5rem;
}

.about-section {
    /*background: #f0f0f0;*/
    background: #f5f5f5;
    border:3px solid #73AD21;
}
.about-content {
    font-size: 1rem;
    color: #888;
    margin-bottom: 4rem;
}

