#my-navbar {
    font-size: 1.3rem;
    font-weight: 800;

    overflow: hidden;
    position: fixed;
    top: 0;
    text-decoration: none;
    z-index: 1000;
    margin-top: 1rem;
    margin-left: 0.5rem;
}
#my-navbar #logo-col a:hover::after {
    opacity: 0; /*This just overwrites the normal underline animation so it isn't shown*/
}

.profile-pic {
    margin-top: 3rem;
    margin-left: 2rem;
    height: 11rem;
    width: 11rem;
    border-radius: 5%;

    animation: profile-content-fadein 1.25s;
}


.section-header {
    font-family: 'Overpass Mono';
    font-size: 1.25rem;
    font-weight: 400;
    /*color: #a0a0a0;*/
    color: #aaa;

    margin-top: 2.75rem;
    margin-bottom: 1.5rem;
}

.about-section {
    /*background: #f0f0f0;*/
    background: #f5f5f5;
}
.about-content {
    font-size: 1rem;
    color: #888;
    margin-bottom: 4rem;
}

.projects-section {
    /*background: #f0f0f0;*/
    background: #ebebeb;
}
